:host {
  @apply block bg-black w-full h-full;
}

.scaled-to-page {
  transform-origin: top left;
  transform: scale(var(--page-scale-x), var(--page-scale-y));

  .scaled {
    display: block;
    width: calc(var(--page-width) * 1px);
    height: calc(var(--page-height) * 1px);
  }
}

.should-layer {
  position: absolute;
}

app-game-map {
  z-index: 10;
}

app-game-map-nodes {
  z-index: 20;
}

app-game-player-list {
  z-index: 100;

  left: -20px;
  top: -20px;

  transform: scale(0.7);
}
